@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.intro-image{
    background-attachment: fixed;
    background-image: url('../img/img5.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__text a{
    background-color: #3c4c3ecb;
    color: #eed571;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__text a:hover{
    transform: scale(1.2);
}

.intro-text{
    background-color: #3c4c3e;
    color: #b1aead;
    height: 20vh;
    margin-top: -5rem;
    text-align: center;
    padding-top: 7rem;
    clip-path: polygon(50% 20%, 100% 0, 100% 77%, 0 100%, 0 0);
}

.intro-text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.packaging-image{
    align-items: center;
    background-attachment: fixed;
    background-image: url('../img/img2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 400px;
    margin-top: -5rem;
    justify-content: center;
}

.packaging-image__text a{
    background-color: #3c4c3ecb;
    color: #eed571;
    display: inline-block;
    font-size: 2rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.packaging-image__text a:hover{
    transform: scale(1.2);
}

.packaging-text{
    background-color: #3c4c3e;
    color: #b1aead;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 10rem;
}

.packaging_text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tutorials-image{
    background-attachment: fixed;
    background-image: url('../img/img3.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorials-image__text a{
    background-color: #3c4c3ecb;
    color: #eed571;
    display: inline-block;
    font-size: 2rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.tutorials-image__text a:hover{
    transform: scale(1.2);
}

.footer{
    background-color: #b1aead;
    color: #3c4c3e;
    font-size: 2rem;
    height: 200px;
    padding: 2rem;
    text-align: center;
}

.footer ul li{
    display: inline-block;
    margin: 1rem;
}

.footer ul li a{
    color: #3c4c3e;
    text-decoration: none;
}
 
.footer ul li:hover, .footer ul li a:hover{
    color: #eed571;
    transform: scale(1.2);
}